.plot_option {
    margin-right: 5px;
}

.plot_info {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}

.plot {
    max-width: 80rem;
    margin-left: auto;
    margin-right: auto;
}